<ion-view view-title="Activities">
  <ion-content>

    <ion-list>

      <ion-item ng-repeat="activity in Activities" href="#/app/activities/{{activity.id}}">
        <ion-grid>
            <ion-row align-items-start>
            <ion-col style="display:inline-block;">
          <ion-icon  name="checkmark-circle" size="large" id="dynamicColor" ng-style="activity.state == 'Failed'&& {'color': 'red'} ||
                    activity.state == 'Finished'&& {'color': 'green'} ||
                    activity.state == 'Aborted'&& {'color': '#ffce00'}" style="height: 1.8em;" slot="end"></ion-icon>
            </ion-col>
            <ion-col style=" margin-left: 7px;display:inline-block;">
              <ion-label style = " margin: 0;
  display: block;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;width:100%">
                <b style="color: darkblue;">{{activity.name}}</b>
                <p  style="color:darkblack;">
                  <span ng-if="activity.object !=undefined "><b>Object :</b> {{activity.object}}</span></p>
                 <p  style="color:darkblack;"> <span ng-if="activity.object ==undefined "><b>Datacenter :</b> {{activity.datacenter}} </span></p> 
<p  style="color:darkblack;"> <b>Duration:</b> {{activity.durationMin}} Min.</p>
      </ion-label>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
