<ion-view view-title="RG - {{rgObj.name}}">
  <ion-content>
  <div class="card" style="background-color: #F2F2F2; min-height: 150px;">
	<div>
		<div style="margin-top: 20px; margin-left: 20px; color: #050707;">
			<h3>Details</h3>
		</div>

			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>State</b></div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;" ng-style="rgObj.state == 'Online' ? {'color': 'green'} : {'color': 'red'}">
					{{rgObj.state}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>Health</b></div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;" ng-style="rgObj.health == 'Normal' ? {'color': 'green'} : {'color': 'red'}">
					{{rgObj.health}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>Datacenters</b></div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					<span ng-repeat="dc in datacenters" ng-style="dc.name == activeDC ? {'color': 'blue'} : {'color': '#676766'}"> {{dc.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					
					</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>Type</b></div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{type}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>Technology</b></div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{technology}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>Service Objective</b></div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{serviceObjective}}</div>
			</div>
			
	</div>
	</div>
	
	 <div class="card" style="background-color: #F2F2F2; min-height: 150px;">
	<div>
		<div style="margin-top: 20px; margin-left: 20px; color: #050707;">
			<h3>VM Details</h3>
		</div>
		
		<div class="row">
				<div class="col col-80"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>VM Name</b></div>
				<div class="col col-20" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					<b>State</b></div>
			</div>
		<div ng-repeat="asset in RGAssets">
			<div class="row">
				<div class="col col-80"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					{{asset.name}}</div>
				<div class="col col-20" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;" ng-style="asset.state == 'On' ? {'color': 'green'} : {'color': 'red'}">
					{{asset.state}}</div>
			</div>
		</div>	
	</div>
	
	</div>
	
	
	
	  <div class="card" style="background-color: #F2F2F2; min-height: 150px;">
	<div>
		<div style="margin-top: 20px; margin-left: 20px; color: #050707;">
			<h3>Risks</h3>
		</div>
		
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>Recoverability</b></div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{recoverability}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>Continuity</b></div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{continuity}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<b>SLA</b></div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{sla}}</div>
			</div>
	</div>
	
	</div>
			
	<div class="card" style=" min-height: 150px;">
		<div id="activitiesDetails" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
		<a class="button icon-right ion-chevron-right button-calm" href="#/app/rgActivities/{{rgId}}">More Details</a>
	</div>
    
     <div class="card" style="background-color: #F2F2F2; min-height: 150px;">
	<div>
		<div style="margin-top: 20px; margin-left: 20px; color: #050707;">
			<h3>Operations</h3>
		</div>
		
			</div>
		<div ng-repeat="option in listOfOptions">
			<div class="row">
			<div class="col col-60"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					{{option.detail}}</div>
				
			
			
				<div class="col col-30"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					<button class="button button-small button-positive col col-100" ng-click="invokeOperation(option.operation)">{{option.operation}}</button></div>
				
			</div>
		</div>	
	</div>
	
	</div>
	
    
    
    
  </ion-content>
</ion-view>
