<ion-view view-title="RG - {{rgObj.name}}">
  <ion-content>
  <div class="card" style="background-color: #F2F2F2; min-height: 150px;">
	<div>
		<div style="margin-top: 20px; margin-left: 20px; color: #050707;">
			<h3>Details</h3>
		</div>

			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					State</div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{rgObj.state}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					Health</div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{rgObj.health}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					Active Datacenter</div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{activeDC}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					Service Objective</div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{serviceObjective}}</div>
			</div>
			
	</div>
	</div>
	  <div class="card" style="background-color: #F2F2F2; min-height: 150px;">
	<div>
		<div style="margin-top: 20px; margin-left: 20px; color: #050707;">
			<h3>Risks</h3>
		</div>
		
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					Recoverability</div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{recoverability}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					Continuity</div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{continuity}}</div>
			</div>
			
			<div class="row">
				<div class="col col-40"
					style="margin-top: 10px; color: #323332; margin-left: 20px; font-size: 14px;line-height: 30px;">
					SLA</div>
				<div class="col col-60" align="left"
					style="margin-top: 10px; color: #676766; font-size: 14px; line-height: 30px;margin-right: 20px;">
					{{sla}}</div>
			</div>
	</div>
	
	</div>
			
	<div class="card" style=" min-height: 150px;">
		<div id="activitiesDetails" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
		<a class="button icon-right ion-chevron-right button-calm" href="#/app/rgActivities/{{rgId}}">More Details</a>
	</div>
    
  </ion-content>
</ion-view>
